{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Grab a game</h1>
    
    <h3>What's new in this release of Grab a game?</h3>

    <ul>
        <li>User registration</li>
        <li>Choose the length of your booking</li>
    </ul>

    <h3>What's on the development schedule for future releasese?</h3>

    <ul>
        <li>Logging in with Facebook</li>
        <li>Club management</li>
        <li>User management</li>
    </ul>
{% endblock %}
