{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Admin - Edit group{% endblock %}

{% block body %}
    <h1>Editing group failed</h1>

    {% block sidebar %}{% endblock %}

    <p>Something went wrong while editing the group {{ Group.getName }}.</p>
        
    {% if Errors is defined %}
        <ul>
            {% for error in Errors %}
                <li>{{ error.getMessageTemplate }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
