{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Forgot my password{% endblock %}

{% block body %}
    <h1>Forgot my password</h1>

    {% if Error is defined %}
        <div class="alert alert-error">{{ Error }}</div>
    {% endif %}
    
    <form class="form-horizontal" action="{{ path('member_reset_password_request') }}" method="post">
        <fieldset>
            <div class="control-group text">
                <p class="indent">
                    Enter your email address below and we will send you instructions to reset your password.
                </p>
                <label class="control-label" for="email">Your email address:</label>
                <div class="controls">
                    <input type="text" name="email" id="email" required>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Reset my password</button>
            </div>
        </fieldset>
    </form>    

{% endblock %}

{% block sidebar %}{% endblock %}
