{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Forgot my password{% endblock %}

{% block body %}
    <h1>Reset your password</h1>

    <form class="form-horizontal" action="{{ path('member_submit_reset_password', { 'uniqueHash': UniqueHash }) }}" method="post">
        <fieldset>
            <div class="control-group text">
                <p class="indent">
                    Enter your new password below
                </p>
                <label class="control-label" for="password">New password</label>
                <div class="controls">
                    <input type="password" name="password" id="password" required>
                </div>
                <label class="control-label" for="password-confirm">Confirm new password</label>
                <div class="controls">
                    <input type="password" name="password-confirm" id="password-confirm" required>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Reset my password</button>
            </div>
        </fieldset>
    </form> 

{% endblock %}

{% block sidebar %}{% endblock %}
