{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Forgot my password{% endblock %}

{% block body %}
    <h1>Forgot my password</h1>
    
    {% if Error is defined %}
        <div class="alert alert-error">{{ Error }}</div>
    {% else %}
        <div class="alert alert-block alert-success">
            <p>Thanks {{ Member.getFirstName }}, we have sent you an email to {{ Member.getEmail }} so you can complete your password reset request.</p>
        </div>
    {% endif %}

{% endblock %}

{% block sidebar %}{% endblock %}
