<p>Hi {{ Member.getFirstName }},</p>

<p>We have had a request to reset your password for Grabagame, before we can do this we need to make sure it was you that made this request.</p>

<p>If you have not made a request to change your password please <strong>ignore this email</strong>, otherwise <a href="{{ url('member_reset_password', { 'uniqueHash': ResetPasswordRequest.getUniqueHash }) }}">click here to reset your password</a>
</p>

<p>This link will only work once and is valid for 24 hours after you made the request</p>

Regards<br />
Grabagame
