{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block boxes %}{% endblock %}

{% block body %}
    <h1>Make a booking</h1>

    <p><strong>Details of your booking</strong></p>

    <p><strong>Start time:</strong> {{ booking.getStartTime.format('d F G:i a') }}</p>
    <form action="{{ path('submitMakeBooking') }}" method="post">
        {{ form_widget(booking_form) }}
        <button type="submit">Make booking</button>
    </form>

{% endblock %}

{% block sidebar %}{% endblock %}
