{% if Booking is not null %}
    {% set Member = Booking.getMember %}
    <td>
        <a href="" class="booked">
        {{ SlotTime.format('G:i') }}<br />
        {{ Member.getNameForBookingTable }}
        </a>
    </td>
{% else %}
    <td>
    <a href="">{{ SlotTime.format('G:i') }}</a>
    </td>
{% endif %}
