{% if app.session.hasFlash('alert-success') %} 
    <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        {{ app.session.flash('alert-success') }}
    </div>
{% endif %}

{% if app.session.hasFlash('alert-info') %} 
    <div class="alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        {{ app.session.flash('alert-info') }}
    </div>
{% endif %}

{% if app.session.hasFlash('alert-error') %} 
    <div class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
        {{ app.session.flash('alert-error') }}
    </div>
{% endif %}
