{% extends 'GrabagameBookingBundle:Admin:dashboard.html.twig' %}

{% block title %}Add a club{% endblock %}

{% block admin_content %}

    {% include 'GrabagameBookingBundle:Generic:displayErrors.html.twig' %}

    <h1>Add a club</h1>

    <form name="add_club_form" method="post" action="{{ path('submit_add_club') }}">
        {{ form_widget(club_form) }}
        <button type="submit">Save club</button>
    </form>
{% endblock %}

{% block sidebar %}{% endblock %}