{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Add a club{% endblock %}

{% block body %}

    {% include 'GrabagameBookingBundle:Generic:displayErrors.html.twig' %}

    <div class="span3">
        <div class="panel">
            <ul class="nav nav-list">
                <li class="nav-header"><h2>Manage club</h2></li>
                <li><a href="#">Coming soon</a></li>
                <li class="nav-header"><h2>Manage groups</h2></li>
                <li><a href="{{ path('group_list') }}">List all groups</a></li>
                <li><a href="{{ path('group_add') }}">Add new group</a></li>
                <li class="nav-header"><h2>Manage users</h2></li>
                <li><a href="{{ path('member_search') }}">Search imported users</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="span7">
        <div class="panel">
            <h1>Dashboard</h1>

            <p>Welcome to the admin dashboard, this is where you can manage your club settings, members and access group privileges.</p>

            <p>Eventually there'll be guides here to show you exactly what you can do, but for now you'll have to follow your nose.</p>
        </div>
    </div>


{% endblock %}

{% block sidebar %}{% endblock %}
