{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Something went wrong...{% endblock %}

{% block body %}
    <h1>An error has occurred</h1>

    {% if ErrorMessage is defined %}
        <p>{{ ErrorMessage }}</p>
    {% else %}
        <div class="alert alert-error">
            An unexpected error has occurred, but don't worry - nerds are on their way to help.
        </div>

        <h2>What should you do?</h2>
        <p>
            If you think you've reached this page by mistake (maybe you typed the URL wrong), you don't need to do anything.  Nothing to see here, <a href="{{ path('home') }}">move along...</a>
        </p>

        <p>
            If you were in the middle of something or got here totally unexpectedly, be a sport and let me know what you did to get here so I can stop it happening next time.
        </p>

        <form action="{{ path('submit_error_report') }}" method="post">
            <textarea class="input-xlarge" name="" placeholder="I broke the internet by:"></textarea>
        </form>

    {% endif %}

{% endblock %}

{% block sidebar %}{% endblock %}
