{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block boxes %}{% endblock %}

{% block body %}
    <div class="left">
        <h1>About</h1>
        
        <p>
            I originally developed Grabagame for the University of Otago Squash Club in New Zealand in 2007 and since then another couple of clubs have adopted it as their court reservation system.  
            
        <p>
            It's a simple, no-frills system that I built to basically do one thing, and to do it well: book courts.
        </p>

        <p>
            In 2012 I released a new version of Grabagame written in Symfony2 which has enabled me to continue development - the old version was written in PHP4, and for those of you who know what means you'll understand why I have avoided development on it for so long!
        </p>

        <p>
            Grabagame is open source and free to use, all the code is available on <a href="https://github.com/chrismckinnel/Grabagame">my Github repo</a>.
        </p>
        
        <h3>About me</h3>
        <p>
            I'm currently living and working in London as a developer for Tangent Labs.
        </p>
    </div>
{% endblock %}
