{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block boxes %}{% endblock %}

{% block body %}
    <div class="left">
        <h1>Grab a game</h1>

        <h3>What's new in this release of Grab a game?</h3>

        <ul>
            <li>User registration</li>
            <li>Choose the length of your booking</li>
            <li>New design</li>
        </ul>

        <h3>What's on the development schedule for future releases?</h3>

        <ul>
            <li>Logging in with Facebook</li>
            <li>Club management</li>
            <li>User management</li>
        </ul>

        <h3>Active development</h3>
        <p>
            I am using Assembla to track and manage bugs and feature requests.
        </p>
        <p>
            If you spot a bug or have an idea to improve the system, you can either <a href="http://www.assembla.com/spaces/grabagame/">add tickets there directly</a> or simply use the suggestion box on the right hand side of this page.
        </p>
        <p>
            You can see current feature requests and progress on bugs here too.
        </p>
    </div>
{% endblock %}
