{% extends 'GrabagameBookingBundle:Admin:dashboard.html.twig' %}

{% block title %}Admin - Add club{% endblock %}

{% block admin_content %}
    <h1>Adding club failed</h1>

    {% block sidebar %}{% endblock %}

    <p>Something went wrong while adding the club {{ Club.getName }}.</p>
        
    {% if Errors is defined %}
        <ul>
            {% for error in Errors %}
                <li>{{ error.getMessageTemplate }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
