[parameters]
    database_driver   = pdo_mysql
    database_host     = localhost
    database_port     =
    database_name     = %(DatabaseName)s
    database_user     = %(DatabaseUser)s
    database_password = %(DatabasePassword)s

    mailer_transport  = smtp
    mailer_host       = smtp.gmail.com
    mailer_user       = no-reply@grabagame.co.nz
    mailer_password   = Aeceenahng4ahr9ahh3dei3aa9ahlaCe
    encryption        = ssl
    port              = 465
    auth_mode         = login

    locale            = en

    secret            = %(Secret)s
    base_logging_url  = /var/www/grabagame/builds/%(Environment)s/app/logs
